.popup__save-button {
    font-weight: normal;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 2px;
    transition: opacity .5s ease-out;
    font-size: 18px;
    line-height: 1.2;
    margin: 0 auto 37px;
    cursor: pointer;
    position: relative;
}

.popup__save-button:hover {
    opacity: .8;
}

@media screen and (max-width: 715px) {
    .popup__save-button {
        font-size: 14px;
        height: 46px;
    }
}
