.popup__close-icon {
    position: relative;
    background-image: url("../../../images/close-icon.svg");
    background-position: right;
    background-repeat: no-repeat;
    z-index: 2;
    background-color: transparent;
    height: 32px;
    width: calc(430px + 8px + 32px * 2);
    transition: opacity .5s ease-out;
    cursor: pointer;
    margin: 0 auto 8px;
    border: none;
}

.popup__close-icon:hover {
    opacity: .6;
}

@media screen and (max-width: 556px) {
    .popup__close-icon {
        width: 88%;
        background-size: 20px;
    }
}