.popup__input-error_active {
    position: absolute;
    top: 138px;
    color: red;
    font-size: 12px;
    line-height: 1.2;
    margin: 5px 0 0;
    padding: 0;
    width: 85%;
}

.bio-error.popup__input-error_active {
    top: 195px;
}

.picture-link-error.popup__input-error_active {
    top: 195px;
}