.profile-area__profile {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 715px) {
    .profile-area__profile {
        flex-direction: column;
        align-items: center;
    }
}