.profile-area__subheading {
    color: #fff;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.22;
    margin: 16px 0 0;
    text-wrap: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

@media screen and (max-width: 715px) {
    .profile-area__subheading {
        font-size: 14px;
    }
}