.header {
    background-color: #000;
    margin: 45px auto 0;
    padding-bottom: 41px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    width: 70%;
    border-bottom: 1px solid rgba(84, 84, 84, .7);
}

@media screen and (max-width: 940px) {
    .header {
        width: 100%;
        margin-top: 28px;
        padding-bottom: 31.6px;
    }
}